.navbar {
  min-height: 90px;
  margin-bottom: 20px;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-text {
  color: #00BD70;
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
}

.navbar-nav {
  font-size: 18px;
  margin-top: 20px;
}

.navbar-default .navbar-nav > li > a.hover {
  color: #00BD70;
}

.tagline {
  color: white;
  margin-top: -150px;
}

h1 {
  color: #00BD70;
}

a {
    color: #009C5D;
    text-decoration: none;
}

p {
  font-size: 18px;
}

.task-buttons {
  color: white;
  padding: 20px;
  background-color: #009C5D;

}

.well {
  background-color: #00BD70;
  border-color: #009C5D;
}

.task-buttons {
  margin: 0 5px;
}

.task-buttons a {
  color: white;
}

#logo {
  max-height: 80px;
}

#background-image {
  height: 295px;
}

.background-well {
  min-height: 330px;
}

.btn-default {
  color: white;
  background-color: #00BD70;
}

.delete-btn {
  color: white;
  background-color: #00BD70;
}
