<div class = "container">
  <div class = "row">
    <div class = "background-well well text-center">
      <img class="img-responsive background" src = "/background.jpg">
      <h1 class = "tagline" id = "greeting">What do you have to do today?</h1>
    </div>
  </div>
  <div class = "row">
    <div class = "well col-md-5 col-md-offset-1 text-center">
      <div class = "task-buttons">
        <h3><a href="/tasks">View Tasks</a></h3>
      </div>
  </div>
  <div class = "row">
    <div class = "well col-md-5 col-md-offset-0 text-center">
      <div class = "task-buttons">
        <h3><a href="/tasks/new">Add a Task</a></h3>
      </div>
    </div>
  </div>
</div>
