<!DOCTYPE html>
<html lang="en">
<head>
  <link href='css/bootstrap.css' rel='stylesheet'>
  <link rel="stylesheet" href="application.css">
  <title>Shannon's Task Manager</title>
</head>
<body>
  <div class= "container">
    <div class= "navbar navbar-default col-md-12">
        <a href='/' class='navbar-brand'>
          <img id = "logo" src = "task-master.png" alt = "Task Master">
        </a>
        <p class = "navbar-text">Shannon's Task Manager</p>
          <ul class="nav navbar-nav navbar-right">
            <li><a href = "/">Home</a></li>
            <li><a href = "/tasks">Index</a></li>
            <li><a href = "/tasks/new">New Task</a></li>
          </ul>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
